@import "tailwindcss";
@import "./loading/AuthLoading.css";
@import "./loading/Loading.css";

@theme {
  --color-offWhite: #e6e6e6;
  --color-luxGold: #e3c04b;
  --color-luxRed: #8c0e0e;
  --color-charcoalBlack: #2e2a2a;
  --color-coolGray: #666666;
  --color-shadowGray: #dddddd;

  --default-font-family: "Playfair Display", "serif";
  --font-lato: "Lato";
}

.active {
  color: #e3c04b;
  font-weight: bold;
}

/* h1 ko text-3xl */
