@import "tailwindcss";

@theme {
  --color-warmBeige: #f4ece6;
  --color-warmTaupe: #bfa89e;
  --color-mutedEmberOrange: #d65a31;
  --color-charcoalGray: #3e3d42;
  --color-creamySand: #e8d8c4;

  --default-font-family: "Playfair Display", "serif";
  --font-inter: "Inter";
}

/* h1 ko text-3xl */
